*-checkpoint.ipynb
.idea/*
*.pkl
*.npy

# Solved assignments
*solution*.ipynb
*submission*.txt
*review*.ipynb

# Mathematics and Python solved assignments
mathematics-and-python/assignment_*/_*.ipynb
mathematics-and-python/assignment_*/_*.py
mathematics-and-python/assignment_*/*.png
mathematics-and-python/assignment_*/0[0-9].txt
mathematics-and-python/assignment_*/*_solution.ipynb
mathematics-and-python/*/practice*.txt

# Supervised learning solved assignments
supervised-learning/assignment_*/_assignment_*.ipynb
supervised-learning/assignment_*/*.txt

# Unupervised learning solved assignments
unsupervised-learning/assignment_*/_*_*.ipynb
unsupervised-learning/assignment_*/*.txt

# Stats for Data Analysis Quizzes
stats-for-data-analysis/quiz_*.ipynb
stats-for-data-analysis/assignment*.*
stats-for-data-analysis/practice_quiz_*.ipynb
stats-for-data-analysis/week_*/quiz_*.ipynb
stats-for-data-analysis/week_*/practice_quiz_*.ipynb
stats-for-data-analysis/*/submission*.*
