*-checkpoint.ipynb

# Mathematics and Python solved assignments
mathematics-and-python/week_1/assignment/installation-2.ipynb
mathematics-and-python/week_1/assignment/installation-3.ipynb
mathematics-and-python/week_1/assignment/installation-scr-1.png
mathematics-and-python/week_1/assignment/installation-scr-2.png
mathematics-and-python/week_2/assignment/approx-fun.ipynb
mathematics-and-python/week_2/assignment/shodstvo-tekstov.ipynb
mathematics-and-python/week_2/assignment/submission-1.txt
mathematics-and-python/week_2/assignment/submission-2.txt
mathematics-and-python/week_3/assigment/01_minimize.ipynb
mathematics-and-python/week_3/assigment/00_solution.ipynb
mathematics-and-python/week_3/assigment/01.txt
mathematics-and-python/week_3/assigment/02_diff_evolution.ipynb
mathematics-and-python/week_3/assigment/02.txt
mathematics-and-python/week_3/assigment/03.txt
mathematics-and-python/week_3/assigment/03_negladkaya.ipynb
mathematics-and-python/week_4/assignment/practice_01
